body {
  padding-bottom: 0 !important;
}

[data-widget-package^="com.fliplet.interactive-map"] {
  width: 100%;
  height: 100vh;
}

body.fl-with-top-menu [data-widget-package^="com.fliplet.interactive-map"] {
  height: calc(100vh - 44px);
  height: calc(100vh - (44px + env(safe-area-inset-bottom) + env(safe-area-inset-top)));
}

[data-has-notch] body.fl-with-top-menu [data-widget-package^="com.fliplet.interactive-map"] {
  height: calc(100vh - (44px + 34px));
}

body.fl-with-bottom-menu [data-widget-package^="com.fliplet.interactive-map"] {
  height: calc(100vh - 65px);
  height: calc(100vh - (65px + env(safe-area-inset-bottom) + env(safe-area-inset-top)));
}

[data-has-notch] body.fl-with-bottom-menu [data-widget-package^="com.fliplet.interactive-map"] {
  height: calc(100vh - (65px + 34px));
}

[data-interactive-map-id] {
  height: 100%;
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

[data-interactive-map-id].is-loading {
  opacity: 0;
  pointer-events: none;
}

.widget-not-configured {
  padding: 20px;
  text-align: center;
  background: rgba(51,51,51,0.1);
  border: 4px solid rgba(51,51,51,0.15);
  color: #333333;
}

.widget-not-configured h3 {
  font-size: 24px;
  color: #333333;
}

.widget-not-configured p {
  font-size: 16px;
  color: #333333;
}

.interactive-map-component-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.map-wrapper-holder {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out;
}

.map-wrapper.active {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.map-container {
  position: relative;
  transform-origin: 0px 0px 0px;
}

.map-container img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
}

.interactive-map-label-wrapper {
  position: absolute;
  top: -100px;
  left: 5px;
  right: auto;
  bottom: auto;
  max-width: calc(100% - 10px);
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #333333;
  transition: top 0.25s ease-out;
}

.interactive-map-label-wrapper.active {
  top: 5px;
}

.interactive-map-label {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.interactive-map-label-icon {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.interactive-map-label-text {
  padding: 10px 5px;
  width: calc(100% - 20px);
}

.interactive-map-label-text p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  line-height: 1.2;
  width: 100%;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive-map-label-cancel {
  font-size: 16px;
  opacity: 0.7;
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.interactive-map-label-cancel .fa {
  margin-top: -3px;
}

.interactive-map-search-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 50%;
  pointer-events: all;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.interactive-map-search-icon.active {
  opacity: 1;
}

.interactive-map-search-icon .fa {
  margin-top: -2px;
}

.maps-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: auto;
  max-width: calc(100% - 65px);
  height: 40px;
  padding: 0 10px;
  font-size: 23px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
  background-color: #333333;
  border-radius: 200px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.maps-button.active {
  opacity: 1;
}

.maps-button .fa-map-marker {
  margin-top: -2px;
  margin-right: 8px;
}

.maps-button-text {
  width: calc(100% - 40px);
  padding: 0 5px;
}

.maps-button-text p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maps-button .fa-map-o {
  font-size: 0.7em;
  margin-right: 5px;
  opacity: 0.8;
}

.maps-button .fa-bars {
  font-size: 0.7em;
  margin-left: 5px;
  opacity: 0.5;
}

.interactive-map-component-wrapper.with-search .fl-zoom-in {
  bottom: 95px;
}

.interactive-map-component-wrapper.with-search .fl-zoom-out {
  bottom: 50px;
}

.fl-zoom-in.off,
.fl-zoom-out.off {
  opacity: 0.5;
}

.marker {
  position: absolute!important;
  z-index: 9;
  bottom: auto!important;
  right: auto!important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  overflow: visible;
}

.marker .fa {
  pointer-events: none;
}

.marker .active-state {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  font-size: 1em;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: 50% 50%;
}

.marker.active .active-state {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.2s ease-out infinite none;
}

@keyframes pulse {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(3);
    opacity: 0;
  }
}

.interactive-maps-search-overlay,
.interactive-maps-overlay {
  position: fixed;
  background-color: #333333;
  color: #ffffff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  transition: all 0.1s;
}

.interactive-maps-search-overlay.overlay-open,
.interactive-maps-overlay.overlay-open {
  transform: translate3d(0, 0, 0);
}

.interactive-map-overlay-topbar {
  position: absolute;
  top: 0;
  top: env(safe-area-inset-top);
  left: 0;
  width: 100%;
  padding: 0px 20px;
  line-height: 1;
  background-color: #333333;
  z-index: 1;
}

.interactive-maps-overlay .interactive-map-overlay-topbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 0 55px;
  height: 55px;
}

.interactive-maps-search-overlay .interactive-map-overlay-topbar {
  padding: 0;
}

.interactive-map-overlay-title {
  margin: 0;
}

.interactive-map-overlay-close {
  font-size: 34px;
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.interactive-map-overlay-scroll-container {
  position: relative;
  top: 55px;
  top: calc(55px + env(safe-area-inset-top));
  height: calc(100% - 55px);
  height: calc(100% - (55px + env(safe-area-inset-top)));
  width: 100%;
  overflow: auto;
}

.interactive-maps-search-overlay .interactive-map-overlay-scroll-container {
  top: 89px;
  top: calc(89px + env(safe-area-inset-top));
  height: calc(100% - 89px);
  height: calc(100% - (89px + env(safe-area-inset-top)));
}

.interactive-map-overlay-list {
  margin: 0;
  padding: 20px 20px 20px 0;
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
}

.marker-list-item,
.map-list-item {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  margin: 0 0 15px;
  padding: 0 15px;
  cursor: pointer;
  border-left: solid 5px transparent;
}

.map-list-item.active {
  border-left-color: #ffffff;
}

.map-list-text,
.marker-list-text {
  margin: 0;
  font-size: 16px;
}

.interactive-map-overlay-topbar .search-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0px 20px 0 55px;
}

.interactive-map-overlay-search-holder {
  position: relative;
  padding: 0 20px;
}

.interactive-map-overlay-search-holder .form-control {
  color: #ffffff;
  border-radius: 40px;
  box-shadow: none;
  padding-right: 55px;
}

.interactive-map-overlay-search-holder span {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 1px;
  right: 21px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  padding: 0px 10px;
  text-align: center;
  font-size: 0.8em;
  background: rgba(51, 51, 51, 0.1);
  color: #333333;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.interactive-map-overlay-search-holder span:active {
  box-shadow: inset 0px 2px 2px 0px rgba(51, 51, 51, 0.2);
}

.interactive-map-overlay-search-holder.searching span {
  opacity: 1;
  visibility: visible;
}

.interactive-map-overlay-not-found {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}

.search-marker {
  position: relative;
  margin-right: 10px;
}

.marker-list-text span {
  margin-left: 10px;
  opacity: 0.5;
  font-size: 12px;
}