html,
body,
#interactive-map-app {
  height: 100% !important;
  overflow: hidden;
}

main {
  padding: 15px;
  height: 100%;
}

#interactive-map-app header {
  margin-bottom: 0;
}

header .title-holder {
  display: flex;
}

header .title-holder .go-back {
  position: relative;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  line-height: 20px;
  cursor: pointer;
}

header .title-holder .go-back .fa {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  height: 20px;
  line-height: 1;
}

header .title-holder p {
  line-height: 20px;
}

.loading-message {
  display: none;
  padding-top: 25%;
}

.is-loading .loading-message {
  display: block;
}

.is-loading .app-content {
  opacity: 0;
  pointer-events: none;
}

.spinner-holder {
  text-align: center;
}

.app-content {
  height: calc(100% - 27px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px 60px;
  margin: 0 -15px;
}

/* ACCORDION */
.map-panels-holder,
.map-markers-holder {
  position: relative;
  padding-bottom: 40px;
}

.add-map-panel,
.add-map-marker {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding: 9px;
  border: 1px solid #dcdae0;
  color: #333;
  opacity: 0.7;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.add-map-panel:hover,
.add-map-marker:hover {
  background-color: #f4f1f2;
}

.add-map-panel:active,
.add-map-marker:active {
  background-color: #f4f1f2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.map-panels-holder .panel-group,
.map-markers-holder .panel-group {
  display: block;
  -webkit-user-select: none;
  padding: 0 0 8px;
  margin: 0;
}

.map-panels-holder.empty .panel-group,
.map-markers-holder.empty .panel-group {
  display: none;
}

.panel {
  opacity: 1;
  transition: opacity 100ms linear;
}

.panel.focus {
  opacity: 0.7;
}

.panel-group .panel {
  overflow: hidden;
}

.panel.focus .glyphicon-remove {
  opacity: 0 !important;
  transition: opacity 50ms linear;
}

.panel-heading {
  position: relative;
  padding: 0;
  min-height: 35px;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.panel-heading h4 {
  padding: 10px 40px 10px 6px;
}

.map-markers-holder .panel-heading {
  cursor: pointer;
}

.map-markers-holder .panel-heading h4 {
  padding: 10px 40px 10px 10px;
}

.panel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.panel-title .fa {
  cursor: pointer;
}

.panel-chevron {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  transition: transform 0.25s ease;
}

.collapsed .panel-chevron {
  transform: rotate(180deg);
}

.panel-heading .icon-delete {
  position: absolute;
  top: 0;
  right: 38px;
  opacity: 0;
  color: #e03629;
  width: 20px;
  height: 38px;
  line-height: 38px;
  text-align: center;
}

.panel-heading:hover .icon-delete {
  opacity: 1;
}

.panel-heading .screen-reorder-handle {
  display: block;
  width: 2.4rem;
  float: left;
  margin-right: 6px;
  text-align: center;
  opacity: 0.3;
  line-height: 18px;
  font-size: 1.2em;
}

.panel-heading .screen-reorder-handle .fa ~ .fa {
  margin-left: 2px;
}

.panel-collapse {
  opacity: 0;
}

.panel-collapse.in {
  opacity: 1;
  transition: opacity 0.1s linear;
}

.panel-default.sortable-ghost {
  opacity: 0.5;
}

.panel-default.sortable-ghost .panel-heading {
  border: 1px solid rgb(0, 171, 210);
}

.map-panel .panel-body label,
.marker-panel .panel-body label {
  font-weight: normal;
}

.selected-image-container {
  display: flex;
  align-items: center;
}

.selected-image-holder {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(51,51,51,0.2);
  background-size: cover;
  background-position: center center;
  border-radius: 4px;
}

.selected-image-name {
  margin-top: 5px;
  font-weight: bold;
}

.icon-holder {
  display: flex;
  height: 44px;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px
}

.icon-wrapper {
  float: left;
}

.icon-notification {
  font-size: 12px;
}

.markers-form-group,
.add-markers-form-group {
  margin-top: 40px;
}

.add-markers-form-group .text-danger {
  margin-top: 5px;
}

/* COLORPICKER */
[colorpicker-component] {
  width: 100%;
}

[colorpicker-component] .input-group-addon {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 46px;
  position: relative;
  overflow: hidden;
}

[colorpicker-component] .input-group-addon + .form-control:not(:first-child):not(:last-child) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

[colorpicker-component] .input-group-addon i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Add Markers */
.add-markers-wrapper {
  height: calc(100% - 27px);
  margin: 0 -15px;
}

.add-markers-component,
.maps-wrapper,
.settings-holder,
.maps-container {
  height: 100%;
}

.add-markers-component {
  position: relative;
}

.maps-container.empty-state {
  padding: 40% 60px 0;
}

.maps-wrapper {
  padding: 0;
  width: calc(100% - 450px);
}

.settings-holder {
  padding: 20px 15px 77px;
  overflow: hidden;
}

.settings-holder .less-bottom-padding {
  padding-bottom: 20px;
  overflow-y: auto;
}

.settings-holder.with-border {
  border-left: 1px solid #e3e9eb;
  width: 450px;
}

.marker-settings-wrapper {
  margin: 0 -15px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.marker-settings-wrapper .button-wrapper .btn + .btn {
  margin-left: 15px;
}

.error-holder {
  color: #a94442;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Maps */
.map-wrapper-holder {
  width: 100%;
  height: 100%;
}

.map-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-out;
}

.map-wrapper.active {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
}

.map-container {
  position: relative;
  transform-origin: 0px 0px 0px;
}

.map-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
}

.fl-zoom-in,
.fl-zoom-out {
  right: 15px;
}

.fl-zoom-in {
  bottom: 60px;
}

.fl-zoom-out {
  bottom: 15px;
}

.fl-zoom-in.off,
.fl-zoom-out.off {
  opacity: 0.5;
}

.maps-button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: auto;
  max-width: calc(100% - 85px);
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #fff;
  background-color: #333;
  border-radius: 200px;
}

.map-button-text {
  width: calc(100% - 24px);
}

.map-button-text p {
  font-size: 16px;
  color: #fff;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.maps-button .fa-map-o {
  margin-top: -2px;
  margin-right: 8px;
}

.map-hint-holder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.map-hint-holder .map-hint {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #333;
  border-radius: 200px;
}

.marker {
  position: absolute!important;
  z-index: 9;
  bottom: auto!important;
  right: auto!important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 24px;
  overflow: visible;
}

.marker .fa {
  pointer-events: none;
}

.marker .active-state {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  font-size: 1em;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  transform-origin: 50% 50%;
}

.marker.active .active-state {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.2s ease-out infinite none;
}

@keyframes pulse {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(3);
    opacity: 0;
  }
}

.markers-ui-wrapper {
  height: calc(100% - 80px);
}

.markers-ui-holder {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  margin: 0;
}

.markers-ui {
  flex: 1;
  padding: 0;
  overflow: auto;
}

.markers-ui.empty-state {
  padding: 40px 40px 0;
}

.markers-ui-loading,
.maps-loading-holder {
  padding: 40px 0 0;
}

.marker-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.marker-holder:hover {
  background-color: #eae9ec;
}

.marker-holder.active {
  background-color: #dcdae0;
}

.marker-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marker-name-holder,
.marker-name-edit-holder {
  display: flex;
  align-items: center;
  height: 44px;
  min-width: 188px;
}

.marker-name-holder {
  width: 188px;
  min-width: 188px;
  max-width: 188px;
}

.marker-name-holder span {
  display: block;
  max-width: 168px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marker-name-holder .fa,
.marker-name-edit-holder .fa {
  margin-left: 8px;
  opacity: 0.5;
  cursor: pointer;
  height: 44px;
  display: flex;
  align-items: center;
}

.marker-name-edit-holder .fa-check-circle:hover {
  color: #1db188;
  opacity: 1;
}

.marker-name-edit-holder .fa-ban:hover {
  color: #e03629;
  opacity: 1;
}

.marker-name-edit-holder .form-control {
  height: 33px;
  border: none;
  border-radius: 4px;
  margin-left: -8px;
  padding: 6px 8px;
}

.marker-map-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}

.marker-map-holder .btn {
  position: relative;
  max-width: 120px;
  background: transparent;
  border: none;
  padding: 0 0 0 15px;
}

.marker-map-holder .btn .map-name {
  display: block;
  float: left;
  max-width: 97px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marker-icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  min-width: 55px;
  max-width: 55px;
}

.marker-icon-holder .btn {
  position: relative;
  max-width: 55px;
  background: transparent;
  border: none;
  overflow: hidden;
  padding: 0 0 0 15px;
}

.marker-map-holder .btn .caret,
.marker-icon-holder .btn .caret {
  opacity: 0.5;
}

.marker-map-holder .btn .caret {
  margin-left: 5px;
}

.marker-map-holder .btn:hover,
.marker-icon-holder .btn:hover,
.marker-map-holder .btn:active:focus,
.marker-icon-holder .btn:active:focus {
  background: transparent;
  border: none;
}

.marker-map-holder .btn:active,
.marker-icon-holder .btn:active {
  box-shadow: none;
}

.marker-map-holder .open > .dropdown-toggle.btn,
.marker-map-holder .open > .dropdown-toggle.btn:hover,
.marker-map-holder .open > .dropdown-toggle.btn:focus,
.marker-map-holder .open > .dropdown-toggle.btn:active,
.marker-map-holder .open > .dropdown-toggle.btn:active:hover,
.marker-map-holder .open > .dropdown-toggle.btn:active:focus,
.marker-icon-holder .open > .dropdown-toggle.btn,
.marker-icon-holder .open > .dropdown-toggle.btn:hover,
.marker-icon-holder .open > .dropdown-toggle.btn:focus,
.marker-icon-holder .open > .dropdown-toggle.btn:active,
.marker-icon-holder .open > .dropdown-toggle.btn:active:hover,
.marker-icon-holder .open > .dropdown-toggle.btn:active:focus {
  background: transparent;
  box-shadow: none;
  border: none;
}

.marker-map-holder .dropdown-menu,
.marker-icon-holder .dropdown-menu {
  max-width: 250px;
  top: 85%;
  border-radius: 0;
  border: none;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.marker-map-holder .dropdown-menu > li > a,
.marker-icon-holder .dropdown-menu > li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marker-delete-holder {
  width: 56px;
  min-width: 56px;
  height: 44px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e03629;
  font-size: 1.3em;
  cursor: pointer;
}

.marker-delete-holder:hover {
  color: #c20000;
  background-color: rgba(0,0,0,0.05);
}

.no-markers {
  padding: 30px 40px;
  text-align: center;
  background-color: rgba(51,51,51,0.05);
  border-radius: 20px;
}

.settings-buttons-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #e3e9eb;
}

/* ACCORDIONS */
.panel.panel-default {
  overflow: visible;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
  padding: 15px 10px;
}

/* COLOR PICKER */
.colorpicker.colorpicker-with-alpha {
  min-width: 311px;
}

.colorpicker-2x .colorpicker-saturation {
  width: 235px;
  height: 235px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 29px;
  height: 235px;
}

.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
  height: 30px;
  font-size: 16px;
  line-height: 160%;
}

.colorpicker-saturation .colorpicker-guide,
.colorpicker-saturation .colorpicker-guide i {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}

.colorpicker-right:before {
  left: 15px;
  right: auto;
}

.colorpicker-right:after {
  left: 16px;
  right: auto;
}

/* Edit Marker Overlay */
.edit-marker-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  display: flex;
  justify-content: center;
}

.edit-marker-overlay-content {
  position: absolute;
  top: 40px;
  left: auto;
  right: auto;
  margin-bottom: 40px;
  background-color: #f8f6f7;
  box-shadow: 0px 12px 40px 14px rgba(0, 0, 0, 0.3);
  width: 630px;
  height: 580px;
}

.marker-overlay-content-header {
  position: absolute;
  height: 65px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 65px;
  padding: 0 15px;
  border-bottom: 1px solid #e3e9eb;
  background-color: #f8f6f7;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.marker-overlay-content-header h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  color: #333333;
  border: none;
}

.fa-times-thin:before {
  content: '\00d7';
}

.marker-overlay-content-header .marker-overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  border-radius: 0;
  text-align: center;
  line-height: 1.714;
  font-size: 1.4rem;
  z-index: 1;
  pointer-events: all;
}

.marker-overlay-content-header .marker-overlay-close a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 65px;
  height: 65px;
  text-decoration: none;
  user-select: none;
  color: #999999;
  border-radius: 0;
}

.marker-overlay-content-header .marker-overlay-close a:hover,
.marker-overlay-content-header .marker-overlay-close a:focus {
  background-color: #eae9ec;
  color: #333333;
}

.marker-overlay-content-header .marker-overlay-close a i{
  margin-top: -4px;
}

.marker-overlay-content-body {
  margin-top: 65px;
  height: calc(100% - 65px);
  overflow: auto;
  padding: 30px 60px 60px;
}

/* Vue Transitions */
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease-out;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.errors-holder {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: #eae9ec;
  z-index: 2;
}

.errors-holder p {
  margin: 0;
}

.is-loading .errors-holder {
  display: none;
}

.marker-error {
  border: 1px solid #dc3545 !important;
  color: #dc3545;
}

@media screen and (-ms-high-contrast: none) {
  .panel-chevron {
    top: 11px;
  }

  .collapsed .panel-chevron {
    top: -11px;
  }
  
  .edit-marker-overlay-content {
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .marker .active-state {
    transform-origin: 80% 50%;
  }

  #interactive-map-app header p {
    flex: none !important;
  }
}