<div>
  <div class="form-group clearfix">
    <div class="col-xs-12 control-label">
      <label>Map name</label>
    </div>
    <div class="col-xs-12">
      <input type="text" class="form-control" v-model.trim="name" @keyup="onInputData"/>
    </div>
  </div>

  <div class="form-group clearfix">
    <div class="col-xs-12 control-label">
      <label>Map image</label>
    </div>
    <div class="col-xs-12">
      <div v-if="!image" class="btn btn-default" @click.prevent="openMapPicker">
        <span>Select an image</span>
      </div>
      <div v-else class="selected-image-container">
        <div class="selected-image-holder" :style="'background-image: url(' + image.url + ')'"></div>
        <div class="btn btn-link" @click.prevent="openMapPicker">Replace image</div>
      </div>
    </div>
  </div>
</div>