<div>
  <div class="form-group clearfix">
    <div class="col-sm-4 control-label">
      <label>Marker name</label>
    </div>
    <div class="col-sm-8">
      <input type="text" class="form-control" v-model="name" @keyup="onChangeData"/>
    </div>
  </div>

  <div class="form-group clearfix">
    <div class="col-sm-4 control-label">
      <label>Choose the marker icon</label>
    </div>
    <div class="col-sm-8">
      <div class="btn btn-default" @click.prevent="openIconPicker">
        <span v-if="icon">Replace icon</span>
        <span v-else>Select an icon</span>
      </div>
      <div v-if="icon" class="icon-holder">
        <div class="icon-wrapper">Selected icon: <i :class="'selected-icon ' + icon"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group clearfix">
    <div class="col-sm-4 control-label">
      <label>Marker color</label>
    </div>
    <div class="col-sm-8">
      <div class="input-group" colorpicker-component>
        <div class="input-group-addon"><i :style="'background-color: ' + color"></i></div>
        <input type="text" :id="'list-item-color-' + id" class="form-control list-item-color" v-model="color" @keyup="onChangeData">
      </div>
    </div>
  </div>
</div>