<div class="is-loading" data-interactive-map-id="{{ id }}" data-interactive-map-uuid="{{ uuid }}">
  <div v-if="containsData" class="interactive-map-component-wrapper" v-bind:class="{ 'with-search': mappedMarkerData && mappedMarkerData.length }">
    <div class="map-wrapper-holder">
      <div class="map-wrapper" v-for="(map, index) in maps" v-bind:class="{ 'active': selectedMapData && map.id === selectedMapData.id && imageLoaded }">
        <div class="map-container" :id="'map-' + map.id">
          <img v-show="map.image" class="map-image" :src="map.image.url | auth" :width="map.image.size ? map.image.size[0] : ''" :height="map.image.size ? map.image.size[1] : ''"/>
        </div>
      </div>
    </div>

    <div class="interactive-map-label-wrapper" v-bind:class="{ 'active': selectedMarkerToggle }">
      <div class="interactive-map-label" @click.prevent="onLabelClick">
        <div class="interactive-map-label-icon" v-if="selectedMarkerData">
          <i :class="'fa-fw ' + selectedMarkerData.icon" :style="'color: ' + selectedMarkerData.color + ';'"></i>
        </div>
        <div class="interactive-map-label-text" v-if="selectedMarkerData">
          <p>\{{ selectedMarkerData.name }}</p>
        </div>
      </div>
      <div class="interactive-map-label-cancel" @click.prevent="removeSelectedMarker"><i class="fa fa-times"></i></div>
    </div>
    <div v-if="mappedMarkerData && mappedMarkerData.length" class="interactive-map-search-icon active" @click.prevent="toggleSearchOverlay">
      <i class="fa fa-search"></i>
    </div>
    <div v-if="maps.length > 1 && selectedMapData && selectedMapData.name" class="maps-button" v-bind:class="{ 'active': selectedMapData && selectedMapData.name }" @click.prevent="toggleMapOverlay">
      <i class="fa fa-map-o"></i>
      <div class="maps-button-text"><p>\{{ selectedMapData.name }}</p></div>
      <i class="fa fa-bars"></i>
    </div>

    <!-- Maps Overlay -->
    <div class="interactive-maps-overlay">
      <div class="interactive-map-overlay-topbar">
        <div class="interactive-map-overlay-close" @click.prevent="closeMapsOverlay">
          <i class="fa fa-angle-left"></i>
        </div>
        <p class="interactive-map-overlay-title">MAPS</p>
      </div>
      <div class="interactive-map-overlay-scroll-container">
        <div class="interactive-map-overlay-list">
          <div class="map-list-item" v-for="(map, index) in maps" v-bind:class="{ 'active': selectedMapData && map.id === selectedMapData.id }" @click.prevent="setActiveMap(index)">
            <p class="map-list-text">\{{map.name}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Overlay -->
    <div class="interactive-maps-search-overlay">
      <div class="interactive-map-overlay-topbar">
        <div class="search-header">
          <div class="interactive-map-overlay-close" @click.prevent="closeSearchOverlay">
            <i class="fa fa-angle-left"></i>
          </div>
          <p class="interactive-map-overlay-title">SEARCH</p>
        </div>
        <div class="interactive-map-overlay-search-holder" v-bind:class="{ 'searching': searchValue && searchValue.length }">
          <input v-model="searchValue" type="search" name="marker-name-search" class="form-control" placeholder="Type to search">
          <span class="clear-search" @click.prevent="clearSearch">Clear</span>
        </div>
      </div>
      <div class="interactive-map-overlay-scroll-container">
        <div class="interactive-map-overlay-list">
          <div class="marker-list-item" v-for="(marker, index) in searchMarkerData" @click.prevent="selectedMarker(marker)">
            <div class="search-marker"><i :class="'fa-fw ' + marker.data.icon" :style="'color: ' + marker.data.color + ';'"></i></div>
            <p class="marker-list-text">\{{ marker.data.name }} <span>\{{ marker.data.map }}</span></p>
          </div>
        </div>
        <div v-if="noSearchResults" class="interactive-map-overlay-not-found">
          <p>We couldn't find a marker matching the name or map: <strong>\{{ searchValue }}</strong>.</p>
          <p>Please try a different search value.</p>
        </div>
      </div>
    </div>
  </div>
  <div v-else class="widget-not-configured">
    <h3>Interactive map</h3>
    <p>Click here to edit the settings.</p>
  </div>
</div>